body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

.tablero {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
}

.carta {
    width: 100px;
    height: 100px;
    background-color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: transparent; 
    transition: background-color 0.3s, color 0.3s;
}

.carta.volteada {
    background-color: #fff;
    color: #333; 
}
